<div class="sel">
    <button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp1()">Template1</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp2()">Template2</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp3()">Template3</button>
</div>
<div class="sel">
    <button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="generatelink()">Generate Link and send to Email</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp2()">Template2</button>
<button type="button" class="btn btn-primary" [disabled]="!check.LoggedIn()" (click)="temp3()">Template3</button>
</div>
